.create-products-box {
  display: flex;
  padding: 2rem;
}

.create-products-box > form {
  display: grid;
  min-width: 670px;
  margin: auto;
  padding: 2rem 4rem;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.create-products-box > form > h2 {
  color: white;
  padding: 2rem 1rem;
}

.create-products-box > form > input {
  margin: 0.2rem;
  min-height: 2.5rem;
  min-width: 400px;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 1.2rem;
}

.create-products-box > form > select {
  padding: 0.5rem;
  margin: 0.2rem;
  min-height: 2.5rem;
  min-width: 400px;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

option {
  font-size: 1.2rem;
}

.create-products-box > form > .button-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.create-products-box > form > .button-box > button {
  font-size: 1.2rem;
  min-width: 6rem;
  height: 3rem;
  padding: 0.5rem 0.9rem;
}

.button-box > button:last-child:hover {
  color: rgb(177, 51, 51);
}

.create-msg {
  padding: 2rem;
  background-color: white;
  max-width: 60%;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}
