footer {
  display: flex;
  background-color: #f8f8f8e5;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  /* remove this later  */
  margin-top: 6rem;
  /* remove this later  */
}

footer > span {
  color: linear-gradient(90deg, hsl(193, 78%, 49%) 0%, #00085160 100%);

  font-size: 1.5rem;
  font-weight: 600;
}

footer > ul {
  display: flex;
  flex-direction: row;
}

footer > ul > li:first-child {
  margin-right: 2rem;
}

footer > ul > li {
  list-style: none;
  color: linear-gradient(90deg, hsl(193, 78%, 49%) 0%, #00085160 100%);
  font-size: 1.5rem;
  font-weight: 550;
  color: rgb(32, 32, 32);
}
