header {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: #ffffffe5;
  color: rgb(31, 53, 82);
  padding: 2rem;
  min-width: 670px;
  justify-content: space-between;
}

h1 {
  display: block;
  font-size: 1.5rem;
}

#logout {
  padding: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(31, 53, 82);
}

#logout:hover {
  border: none;
  background-color: rgb(31, 53, 82);
  color: rgb(253, 253, 253);
  border-radius: 0.5rem;
}

#new-product-btn {
  color: rgb(31, 53, 82);
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  font-weight: 600;
}
