.product-box {
  max-width: 670px;
  margin: 2rem 0rem;
  display: grid;
  margin: auto;
}

.product-list {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 2fr 2fr 2fr 5fr;
  background-color: linear-gradient(
    90deg,
    hsl(193, 78%, 49%) 0%,
    #00085160 100%
  );
}
