#actions-product-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.property {
  padding: 0.5rem;
  background-image: linear-gradient(
    180deg,
    hsl(0, 0%, 100%, 0.2) 0%,
    hsla(0, 0%, 41%, 0.2) 100%
  );
  color: whitesmoke;
  display: flex;

  align-items: center;
}

#show-info-btn {
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  border: none;
  color: rgba(91, 18, 104, 0.705);
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5rem;
}
