#search-box {
  background-color: transparent;
}

#search-bar {
  font-size: 2rem;
  padding: 0.5rem;
}

#search-btn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

#search-form {
  display: grid;
  grid-template-columns: 1fr;
}
