.login-form {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(245, 245, 245);
  padding: 2rem 4rem;
}

.login-form > input {
  font-size: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.login-form > button {
  background-color: rgb(141, 141, 141);
  color: white;
  font-size: 2rem;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: none;
  width: auto;
}

.login-form > label {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 600;
}

.login-form > nav {
  font-size: 1.5rem;
}

.login-form > nav:hover {
  color: rgb(30, 68, 170);
}
